<ol class="list-unstyled">
    {% for post in posts %}
        {# @var post \Aap\BlogBundle\Entity\BlogPost #}
        <li>
            <small>{{ post.date | date('m/d/Y') }}</small>&nbsp;
            <a href="{{ path('aap_blog_blogpost_detail', {
                slug: post.slug
            }) }}">{{ post.title }}</a>
            - {{ post.description }}
        </li>
    {% endfor %}
</ol>