/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.idea/
vendor/
src/Aap/BlogBundle/Resources/public/css/*
src/Aap/BlogBundle/Resources/public/vendor
node_modules/
src/Aap/BlogBundle/Resources/public/.sass-cache/
src/Aap/BlogBundle/Resources/public/js/
!src/Aap/BlogBundle/Resources/public/js/system.conf.js